@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  color: #666666;
  background-color: #f7f8fa;
}

p { margin: 0px; }

a { text-decoration: none; color: #666666; cursor: pointer; }

.navbar {
  display: flex;
  justify-content: space-evenly;
}