@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//Global Bulma variable setup
$family-sans-serif: 'Roboto', sans-serif;
$blue: #4f4789;
$turquoise: #3f88c5;
$green: #62c370;
$red: #b8336a;
$yellow: #e5b25d;
$background: #f7f8fa;
$grey: #666666;

//Global colors and styling
$primary: $blue;
$link: $turquoise;
$success: $green;
$warning: $yellow;
$danger: $red;
$text-color: $grey;

$body-background-color: $background;
$body-color: $grey;

@import '~bulma/bulma';

.navbar {
  display: flex;
  justify-content: space-evenly;
}
